<!doctype html>
<html lang="es">
<head>
<title>Cambiar estado del pedido</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- BOOTSTRAP CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">
</head>

<body>
	{{>header}}
	<div class="container">
		<div class="col-1">
			<a href="/orders/main" type="button" class="btn btn-outline-info">Volver</a>
		</div>
		<br>
		<div class="card">
			<article class="card-body">
				<h4 class="card-title mb-4 mt-1">Cambiar estado del pedido</h4>
				<form action="/orders/statuschange" method="post">
					<div class="form-group">
						<label>Introduzca ID del pedido:</label> <input name="order_id"
							class="form-control" placeholder="0">
					</div>
					<div class="form-group">
						<label>Introduzca 0 [POR APROBAR], 1 [EN PREPARACIÓN], 2 [EN
							REPARTO], 3 [ENTREGADO], 4 [CANCELADO]:</label> <input name="status_id"
							class="form-control" placeholder="0">
					</div>
					<br>
					{{#updated}}
				    <p style="color:green;">{{cad}}</p>
				    {{/updated}}
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block">
							Cambiar</button>
					</div>
				</form>
				<br>
			</article>
		</div>
		<br>
	</div>
	<br> {{>footer}}
</body>
</html>