<!doctype html>
<html lang="es">
	<head>
		<!-- Required meta tags -->
	    <meta charset="utf-8">
        <!-- BOOTSTRAP CSS only  -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
		<style>
    	hr {
		  margin-top: 1rem;
		  margin-bottom: 1rem;
		  border: 0;
		  border-top: 1px solid rgba(0, 0, 0, 0.1);
		}
    	</style>
	</head>
	
	<body>
		<br>
		<div class="container-fluid">
		<!-- Footer -->
		<footer class="bg-light text-center text-lg-start">
		  <!-- Grid container -->
		  <div class="container p-4">
		    <!--Grid row-->
		    <div class="row">
		      <!--Grid column-->
		      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
		        <h5 class="text-uppercase">Sobre nosotros</h5>
		
		        <p>
			        Simulación de web de compra y venta online, e-commerce.
			        Desarollado por alumnos de la Universidad Rey Juan Carlos, Grado en Ingeniería de computadores para la asignatura de Desarrollo de Aplicaciones Distribuidas.
			    	<p>Este proyecto está sujeto a la licencia <strong>Apache License 2.0</strong>. Para obtener más información de esta visitar el siguiente <a href="https://github.com/AlvaroMartinezQ/clickandbuy/blob/master/LICENSE">enlace</a>.
		        </p>
		      </div>
		      <!--Grid column-->
		
		      <!--Grid column-->
		      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
		      	<!--
		        <h5 class="text-uppercase">Links</h5>
		
		        <ul class="list-unstyled mb-0">
		          <li>
		            <a href="https://github.com/AlvaroMartinezQ/clickandbuy" class="text-dark">Repositorio del código</a>
		          </li>
		        </ul>
		        <hr />
		        <h5 class="text-uppercase">Enlaces de los desarrolladores</h5>
		        <ul class="list-unstyled mb-0">
		        	<li>
		            	<a href="https://github.com/AlvaroMartinezQ" class="text-dark">Álvaro Martínez Quiroga</a>
		          	</li>
		          	<li>
		           		<a href="https://github.com/patri-create" class="text-dark">Patricia Tarazaga Cozas</a>
		          	</li>
		          	<li>
		            	<a href="https://github.com/lblay" class="text-dark">Luis Blay González</a>
		          	</li>
		        </ul>
		        -->
		      </div>
		      <!--Grid column-->
		
		      <!--Grid column-->
		      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
		        <h5 class="text-uppercase">Links</h5>
		
		        <ul class="list-unstyled mb-0">
		          <li>
		            <a href="https://github.com/AlvaroMartinezQ/clickandbuy" class="text-dark">Repositorio del código</a>
		          </li>
		        </ul>
		        <hr />
		        <h5 class="text-uppercase">Enlaces de los desarrolladores</h5>
		        <ul class="list-unstyled mb-0">
		        	<li>
		            	<a href="https://github.com/AlvaroMartinezQ" class="text-dark">Álvaro Martínez Quiroga</a>
		          	</li>
		          	<li>
		           		<a href="https://github.com/patri-create" class="text-dark">Patricia Tarazaga Cozas</a>
		          	</li>
		          	<li>
		            	<a href="https://github.com/lblay" class="text-dark">Luis Blay González</a>
		          	</li>
		        </ul>
		      </div>
		      <!--Grid column-->
		    </div>
		    <!--Grid row-->
		  </div>
		  <!-- Grid container -->
		
		  <!-- Copyright -->
		  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		    © 2020 Copyright:
		    <a class="text-dark" href="/">Click&Buy Co.</a><p> v0.0.2</p>
		  </div>
		  <!-- Copyright -->
		</footer>
		<!-- Footer -->
		</div>
	</body>
</html>