<!doctype html>
<html lang="es">
    <head>
    	<title>Login</title>
    	<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- BOOTSTRAP CSS only  -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>

    <body>
		{{>header}}
		<div class="container">
			<div class="card">
				<article class="card-body">
				<h4 class="card-title mb-4 mt-1">Inicio de sesión</h4>
				{{#comes_from_login}}
					<p class="text-left" style="color:green;">Su usuario se ha creado correctamente. Inicie sesión.</p>
				{{/comes_from_login}}
				<form action="/weblogin" method="post">
				    <div class="form-group">
				    	<label>Email</label>
				        <input name="email" class="form-control" placeholder="Email" type="email">
				    </div> <!-- form-group// -->
				    <div class="form-group">
				    	<!-- <a class="float-right" href="#">Forgot?</a>  -->
				    	<label>Contraseña</label>
				        <input name="password" class="form-control" placeholder="******" type="password">
				    </div> <!-- form-group// --> 
				    <div class="form-group"> 
				    <div class="checkbox">
				    <!-- <label> <input type="checkbox"> Save password </label> -->
				    </div> <!-- checkbox .// -->
				    </div> <!-- form-group// -->
				    <br>
				    <div class="form-group">
				    	<!-- login is not available on this point of the development -->
				    	{{#login}}
				        	<button type="submit" class="btn btn-primary btn-block"> Acceder </button>
				        {{/login}}
				    </div> <!-- form-group// -->                                                           
				</form>
				<br>
				{{#login_error}}
					<p class="text-left" style="color:red;">Credenciales erróneas</p>
				{{/login_error}}
				</article>
				</div> <!-- card.// -->
		</div>
		<br>
		{{>footer}}
    </body>
</html>