<!doctype html>
<html lang="es">
    <head>
    	<title>Página de usuarios</title>
    	<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- BOOTSTRAP CSS only -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>

    <body>
		{{>header}}
		<div class="container">
		    <br>
		    <div class="row">
		    	<div class="col-1"><a href="/users" type="button" class="btn btn-outline-info">Volver</a></div>
		    	<div class="col-12">
		    		<br>
		    		<div class="card-group">
			    		{{#userlist.0}}
			    		{{#userlist}}
						  	<div class="row">
								<div class="col-1"></div>
								<div class="card border-dark mb-3" style="width: 18rem;">
									<div class="card-body">
										<h5 class="card-title">Id: {{id}}</h5>
										{{#user_name}}
										<h5>Nombre: {{user_name}}</h5>
										{{/user_name}}
										<h6>Email: {{user_email}}</h6>
										<p class="card-text">F. de alta: {{join_date}}</p>
										{{#last_login}}
										<p class="card-text">Visto por última vez: {{last_login}}</p>
										{{/last_login}}
										{{#user_phone}}
										<p class="card-text">Contacto: {{user_phone}}</p>
										{{/user_phone}}
									</div>
									<p style="text-align:center;">Imagen de usuario</p>
									<img src="/api/image/retreive?usid={{id}}" class="card-img-top">
									<br>
									<a href="http://127.0.0.1:8080/users/delete?usid={{id}}" type="button" class="btn btn-danger">Eliminar</a>
									<br>
								</div>
								<div class="col-1"></div>
							</div>
						{{/userlist}}
						{{/userlist.0}}
						{{^userlist.0}}
			    		<div class="row">
							<h5 style="text-align:center;color:black">Sin usuarios en la web.</h5>
						</div>
						{{/userlist.0}}
			    		</div>
		    		</div>
				</div>
		    <br>
	    </div>
	    {{>footer}}
	</body>
</html>