<!doctype html>
<html lang="es">
	<head>
		<title>Usuario</title>
    	<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- BOOTSTRAP CSS only  -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	</head>
		
	<body>
		{{>header}}
		<div class="container">
			<div class="col-1"><a href="/users" type="button" class="btn btn-outline-info">Volver</a></div>
			<br>
			{{#user}}
			<div class="card">
				<article class="card-body">
				<h4 class="card-title mb-4 mt-1">Usuario</h4>
				<form action="/users/data/user-update" method="post">
					<div class="form-group">
				        <input type="hidden" class="form-control" name="email" value="{{user_email}}" />
				    </div> <!-- form-group// -->
				    <!-- This field is not sent -->
				    <div class="form-group">
				    	<label>Email</label>
				        <input name="" class="form-control" placeholder="{{user_email}}" readonly>
				    </div> <!-- form-group// -->
				    <div class="form-group">
				    	<label>Nombre de usuario</label>
				    	{{#user_name}}
				        	<input name="user_name" class="form-control" placeholder="{{user_name}}">
				    	{{/user_name}}
				    	{{^user_name}}
				    		<input name="user_name" class="form-control" placeholder="">
				    	{{/user_name}}
				    </div> <!-- form-group// -->
				    <div class="form-group">
				    	<label>Nombre real</label>
				    	{{#user_realname}}
				        	<input name="user_realname" class="form-control" placeholder="{{user_realname}}">
				        {{/user_realname}}
				        {{^user_realname}}
				        	<input name="user_realname" class="form-control" placeholder="">
				        {{/user_realname}}
				    </div> <!-- form-group// -->
				    <div class="form-group">
				    	<label>Teléfono</label>
				        <input type="number" name="user_phone" class="form-control" placeholder="{{user_phone}}">
				    </div> <!-- form-group// -->
				    <div class="form-group">
				    	<label>Cuenta de banco</label>
				        <input type="number" name="user_bankaccount" class="form-control" placeholder="{{user_bankaccount}}">
				    </div> <!-- form-group// -->
				    <div class="form-group">
				    	<label>Dirección</label>
				    	{{#user_address}}
				        	<input name="user_address" class="form-control" placeholder="{{user_address}}">
				        {{/user_address}}
				        {{^user_address}}
				        	<input name="user_address" class="form-control" placeholder="">
				        {{/user_address}}
				    </div> <!-- form-group// -->
				    <br>
				    {{#last_login}}
				    <div class="last-login">
				    	<label>Último login</label>
				        <input name="user_lastlogin" placeholder="{{last_login}}" readonly>
				    </div> <!-- form-group// -->
				    {{/last_login}}
				    <br>
				    <div class="join-date">
				    	<label>Fecha de alta:</label>
				        <input name="user_joindate" placeholder="{{join_date}}" readonly>
				    </div> <!-- form-group// -->
				    <br>
				    <div><p>Un valor mayor de 0 cambiará el atributo a true, un valor menor o igual a 0 cambiará el atributo a false.</p></div>
				    <div class="form-group">
				    	<label>Usuario activo</label>
				        <input name="is_active" class="form-control" placeholder="{{is_active}}">
				    </div> <!-- form-group// -->
				    <div class="form-group">
				    	<label>Es proveedor</label>
				        <input name="is_supplier" class="form-control" placeholder="{{is_supplier}}">
				    </div> <!-- form-group// -->
				    <br>
				    <div class="form-group">
				        <button type="submit" class="btn btn-primary btn-block"> Actualizar usuario </button>
				    </div> <!-- form-group// -->                                                           
				</form>
				<br>
			</article>
		</div> <!-- card.// -->
		{{/user}}
		{{^user}}
			<div class="row">
				<div class="col-4"></div>
				<div class="col-4"><h3>Sin resultados.</h3></div>
				<div class="col-4"></div>
			</div>
		{{/user}}
		<br>
		</div>
		{{>footer}}
	</body>
</html>