<!doctype html>
<html lang="es">
	<head>
		<title>Administrador</title>
    	<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- BOOTSTRAP CSS only  -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	</head>
		
	<body>
		{{>header}}
		<div class="container">
			<div class="col-1"><a href="/admins" type="button" class="btn btn-outline-info">Volver</a></div>
			<br>
			{{#admin}}
			<div class="card">
				<article class="card-body">
				<h4 class="card-title mb-4 mt-1">Admin</h4>
				<form action="/admins/data/admin-update" method="post">
					<div class="form-group">
				        <input type="hidden" class="form-control" name="email" value="{{admin_email}}" />
				    </div> <!-- form-group// -->
				    <!-- This field is not sent -->
				    <div class="form-group">
				    	<label>Email</label>
				        <input name="" class="form-control" placeholder="{{admin_email}}" readonly>
				    </div> <!-- form-group// -->

				    <div class="form-group">
				    	<label>Nombre</label>
				    	{{#admin_realname}}
				        	<input name="admin_realname" class="form-control" placeholder="{{admin_realname}}">
				        {{/admin_realname}}
				        {{^admin_realname}}
				        	<input name="admin_realname" class="form-control" placeholder="">
				        {{/admin_realname}}
				    </div> <!-- form-group// -->
				    <div class="form-group">
				    	<label>Cargo</label>
				    	{{#admin_charge}}
				        	<input name="admin_charge" class="form-control" placeholder="{{admin_charge}}">
				        {{/admin_charge}}
				        {{^admin_charge}}
				        	<input name="admin_charge" class="form-control" placeholder="">
				        {{/admin_charge}}
				    </div> <!-- form-group// -->
				    <div class="form-group">
				    	<label>Alias en la web</label>
				    	{{#admin_name}}
				        	<input name="admin_name" class="form-control" placeholder="{{admin_name}}">
				    	{{/admin_name}}
				    	{{^admin_name}}
				    		<input name="admin_name" class="form-control" placeholder="">
				    	{{/admin_name}}
				    </div> <!-- form-group// -->
				    <br>
				    {{#last_login}}
				    <div class="last-login">
				    	<label>Último login</label>
				        <input name="user_lastlogin" placeholder="{{last_login}}" readonly>
				    </div> <!-- form-group// -->
				    {{/last_login}}
				    <br>
				    <div><p>Un valor mayor de 0 cambiará el atributo a true, un valor menor o igual a 0 cambiará el atributo a false.</p></div>
				    <div class="form-group">
				    	<label>Usuario activo</label>
				        <input name="is_active" class="form-control" placeholder="{{is_active}}">
				    </div> <!-- form-group// -->
				    <div class="form-group">
				    	<label>Permisos de superusuario</label>
				        <input name="is_superuser" class="form-control" placeholder="{{is_superuser}}">
				    </div> <!-- form-group// -->
				    <br>
				    <div class="form-group">
				        <button type="submit" class="btn btn-primary btn-block"> Actualizar administrador </button>
				    </div> <!-- form-group// -->                                                           
				</form>
				<br>
			</article>
		</div> <!-- card.// -->
		{{/admin}}
		{{^admin}}
			<div class="row">
				<div class="col-4"></div>
				<div class="col-4"><h3>Sin resultados.</h3></div>
				<div class="col-4"></div>
			</div>
		{{/admin}}
		<br>
		</div>
		{{>footer}}
	</body>
</html>