<!DOCTYPE html>
<html lang="es">
<head>
<title>Listado de productos</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- BOOTSTRAP CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">
</head>
<body>

	{{>header}}
	<div class="container">
		<div class="col-1">
			<a href="/products/main" type="button" class="btn btn-outline-info">Volver</a>
		</div>
		<br>
		<div class="row h-100">
			<h3 style="text-align: left; color: black">Listado de productos:</h3>
		</div>
		<br>
		<div class="col-12">
			<div class="card-group">
				{{#products.0}} {{#products}}
				<div class="row">
					<div class="col-1"></div>
					<div class="card border-dark mb-3" style="width: 18rem;">
						<img src="https://picsum.photos/100/50" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">{{product_name}}</h5>
							<h6>Precio: {{product_price}}$</h6>
							<p class="card-text">{{product_description}}</p>
							<a href="/api/product/search?name={{product_name}}"
								class="btn btn-primary">Ver</a>
						</div>
					</div>
					<div class="col-1"></div>
				</div>
				{{/products}} {{/products.0}} {{^products.0}}
				<div class="row">
					<h5 style="text-align: center; color: black">Sin productos
						disponibles.</h5>
				</div>
				{{/products.0}} <br> <br />
			</div>
		</div>
	</div>
	<br> {{>footer}}

</body>
</html>