<!doctype html>
<html lang="es">
    <head>
    	<title>Acceso denegado</title>
    	<!-- Required meta tags -->
	    <meta charset="utf-8">
        <!-- BOOTSTRAP CSS only -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    	<link href="/css/user/profile.css" rel="stylesheet">
    </head>
    
    <body>
    	{{>\product\header}}
		<div class="container">
		    <br>
		    <div class="row">
		    	<div class="col-12">
		    	<a href="/product/management"  type="button" class="btn btn-outline-primary"> Volver </a>
		    	<br>
		    	<br>
		    	<div class="col-md-6"><h1>Acceso denegado</h1></div>
		    	</div>
		    	</div>
		    </div>
    	{{>footer}}
    </body>
</html>