<!doctype html>
<html lang="es">
    <head>
    	<title>Tu perfil</title>
    	<!-- Required meta tags -->
	    <meta charset="utf-8">
        <!-- BOOTSTRAP CSS only -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    	<link href="/css/user/profile.css" rel="stylesheet">
    </head>
    
    <body>
    	{{>\admin\header}}
    	
	<div class="container">
	{{#product}}
		<div class="col-1">
			<a href="/marketplace" type="button"
				class="btn btn-outline-info">Volver</a>
		</div>
		<br>
		<div class="card">
			<article class="card-body">
				<h3 class="card-title mb-4 mt-1">{{name}}</h3>
				<img src="https://picsum.photos/150/30" class="card-img-top">
				
					<div class="form-group">
				    	<span style="font-size:20px;">Descripción:</span>
				    	{{#description}}
				    		<br>
				        	<span style="font-size:18px;">{{description}}</span>
				    	{{/description}}
				    	{{^description}}
				    		<span style="font-size:18px;">Aún no hay descripción para este producto</span>
				    	{{/description}}
				    </div>
						<span style="font-size:20px;">Precio:</span>
						<br>
				        	<span style="font-size:18px;">{{price}} $</span>
					<div class="form-group">
						<span style="font-size:20px;">Unidades en stock:</span>
						<br>
				        	<span style="font-size:18px;">{{stock}}</span>
					</div>
					<br>
					<div class="form-group">
						<span style="font-size:20px;">Producto activo:</span>
						<br>
				        	<span style="font-size:18px;">{{active}}</span>
					</div>
					<hr width=500>
					<form action="/marketplace/rate" method="post">
						<div class="form-group">
							<span style="font-size:20px;">Deja un comentario:</span>
							<br>
					        	<textarea name="comment" rows="3" cols="50">Me ha encantado el producto</textarea>
					        <br>
					        <br>
					    </div>
					    <div class="form-group">
						    <span style="font-size:20px;">Valora el producto:</span>
						    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
								  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="1" autocomplete="off" checked>
								  <label class="btn btn-outline-warning" for="btnradio1">1</label>
								
								  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="2" autocomplete="off">
								  <label class="btn btn-outline-warning" for="btnradio2">2</label>
								
								  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" value="3" autocomplete="off">
								  <label class="btn btn-outline-warning" for="btnradio3">3</label>
								  
								  <input type="radio" class="btn-check" name="btnradio" id="btnradio4" value="4"  autocomplete="off">
								  <label class="btn btn-outline-warning" for="btnradio4">4</label>
								  
								  <input type="radio" class="btn-check" name="btnradio" id="btnradio5" value="5" autocomplete="off">
								  <label class="btn btn-outline-warning" for="btnradio5">5</label>
							</div>
						</div>
						<br>
						<div class="form-group">
							<button type="submit" class="btn btn-warning">Puntuar</button>
						</div>
						<input type="hidden" name="id" value="{{id}}"/>
						<input type="hidden" name="_csrf" value="{{token}}" />
					</form>
					<div class="form-group">
					<br>
					<hr width=500>
					<form action="/marketplace/sortRating" method="post">
						<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
						  <input type="radio" class="btn-check" name="sort" id="sort1" value="time" autocomplete="off" checked>
						  <label class="btn btn-outline-secondary" for="sort1">Tiempo</label>
						
						  <input type="radio" class="btn-check" name="sort" id="sort2" value="rate" autocomplete="off">
						  <label class="btn btn-outline-secondary" for="sort2">Puntuación</label>
						</div>
						<button type="submit" class="btn btn-dark">Ordenar</button>
						<input type="hidden" name="id" value="{{id}}"/>
						<input type="hidden" name="_csrf" value="{{token}}" />
					</form>
						<br>
						<br>
						<br>
						<span style="font-size:20px;">Opiniones de los usuarios:</span>
						<br>
				    	{{#ratinglist}}
				        	<div class="card" style="width: 18rem;">
							  <div class="card-header"> Usuario {{user.email}}</div>
							  <ul class="list-group list-group-flush">
							    <li class="list-group-item">Evaluación: {{rate}}</li>
							    <li class="list-group-item">Comentario: {{comment}}</li>
							    
							   	<li class="list-group-item">
							   		<form action="/marketplace/deleteRate" method="post">
							   			<a href="/marketplace/deleteRate?_csrf={{token}}&&id={{product.id}}&&idrating={{id}}" type="button" style="font-size:10px" class="btn btn-outline-danger">Eliminar</a>
							   			<input type="hidden" name="idrating" value="{{id}}"/>
							   			<input type="hidden" name="id" value="{{product.id}}"/>
							   			<input type="hidden" name="_csrf" value="{{token}}" />
							   		</form>
								</li>
							  </ul>
							</div>
				    	{{/ratinglist}}
				    	{{^ratinglist}}
				    		<span style="font-size:18px;">Aún no hay opiniones para este producto</span>
				    	{{/ratinglist}}
					</div>
					
					<br> <br> <br> {{#updated}}
					<p style="color: green;">{{result}}</p>
					{{/updated}}
					<div class="form-group">
					<form action="/admin/updateProduct" method="post">
						<button type="submit" class="btn btn-primary btn-block">Comprar</button>
						<input type="hidden" name="id" value="{{id}}" />
						<input type="hidden" name="_csrf" value="{{token}}" />
					</form>
					</div>

				<br>
			</article>
		</div>
		{{/product}}
		{{^product}}
			<div class="row">
				<div class="col-4"></div>
				<div class="col-4"><h3>Ha ocurrido un error. Vuelve a intentarlo.</h3></div>
				<div class="col-4"></div>
			</div>
		{{/product}}
		<br>
	</div>
    	
    	{{>footer}}
    </body>
</html>